:root {
  --color-font: rgb(245, 95, 26);
  --color-hover: rgb(207, 38, 8);
  --color-background: rgb(155, 107, 155);
  --color-linear-gradient: linear-gradient(90deg, #d53369 0%, #daae51 100%);

  --font-weight: 300;
  --font-weight-hover: 500;
}
