nav {
  background: var(--color-linear-gradient);

  ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    font-weight: var(--font-weight);

    li {
      padding: 1rem 3rem;

      a {
        font-size: 2rem;
        color: white;
      }
    }
  }
}
