.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;

  input,
  button {
    font-size: 1rem;
    font-weight: 300;
    padding: 0.25rem;
    margin: 0.3rem;
    border: 1.5px solid var(--color-font);
  }
  input {
    width: 400px;
    color: var(--color-font);
    transition: 0.4s ease-in;
    outline: none;
  }
  input:focus {
    border: 1.9px solid var(--color-hover);
  }
  button {
    padding: 0.25rem 0.5rem;
    background-color: transparent;
    color: var(--color-font);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.1s ease-in;
  }
  button:hover {
    color: #fff;
    background-color: var(--color-hover);
  }
}
