.slideshow {
  margin: 3rem 0;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background-image: url(../components/about/photo/pexels-photo-169573.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .logo {
    width: 14.3%;

    & img {
      width: 80%;
    }
  }
}
