* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.morePicture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.morePicture button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: var(--font-weight);
  color: var(--color-font);
  cursor: pointer;
  padding: 0 0.25rem;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.morePicture button:hover {
  font-size: 1.3rem;
  color: var(--color-hover);
  border: none;
  border-radius: 3px;
}

:root {
  --color-font: rgb(245, 95, 26);
  --color-hover: rgb(207, 38, 8);
  --color-background: rgb(155, 107, 155);
  --color-linear-gradient: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  --font-weight: 300;
  --font-weight-hover: 500;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--color-font);
  padding: 2rem;
}

nav {
  background: var(--color-linear-gradient);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 3rem;
  font-weight: var(--font-weight);
}

nav ul li {
  padding: 0.5rem 1rem;
}

nav ul li a {
  font-size: 1.25rem;
  color: white;
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pictures .photo {
  padding: 0 1rem 1rem 1rem;
  width: 400px;
  font-size: 1rem;
  color: var(--color-font);
}

.pictures .photo p {
  padding: 0.5rem;
  font-weight: var(--font-weight);
}

.pictures .photo .photographer {
  font-weight: var(--font-weight);
  font-size: 1.3rem;
}

.pictures .photo .imageContainer {
  overflow: hidden;
  height: 40vh;
  border-radius: 5px;
  -webkit-box-shadow: 0.2rem 0.2rem 0.5rem rgba(73, 71, 71, 0.3);
          box-shadow: 0.2rem 0.2rem 0.5rem rgba(73, 71, 71, 0.3);
}

.pictures .photo .imageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pictures .photo .imageContainer img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.pictures a {
  font-size: 1rem;
  font-weight: var(--font-weight);
  color: var(--color-font);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pictures a:hover {
  color: var(--color-hover);
  font-size: 1.3rem;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
}

.search input,
.search button {
  font-size: 1rem;
  font-weight: 300;
  padding: 0.25rem;
  margin: 0.3rem;
  border: 1.5px solid var(--color-font);
}

.search input {
  width: 400px;
  color: var(--color-font);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  outline: none;
}

.search input:focus {
  border: 1.9px solid var(--color-hover);
}

.search button {
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  color: var(--color-font);
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.search button:hover {
  color: #fff;
  background-color: var(--color-hover);
}

.top {
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(213, 51, 105, 0.7)), to(rgba(218, 174, 81, 0.7))), url(https://images.pexels.com/photos/91224/pexels-photo-91224.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
  background-image: linear-gradient(90deg, rgba(213, 51, 105, 0.7) 0%, rgba(218, 174, 81, 0.7) 100%), url(https://images.pexels.com/photos/91224/pexels-photo-91224.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(50% 100%, 100% 70%, 100% 0, 0 0, 0 70%);
          clip-path: polygon(50% 100%, 100% 70%, 100% 0, 0 0, 0 70%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 90vh;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.top .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30rem;
  height: 30rem;
  margin: 0 0 8rem 15rem;
  color: #fff;
  font-weight: var(--font-weight);
}

.top .left .converense {
  font-size: 2.5rem;
}

.top .left .skill {
  padding: 0.1rem;
  letter-spacing: 0.1rem;
}

.top .right {
  position: relative;
  margin-bottom: 8rem;
}

.top .right .bcg {
  width: 20rem;
  height: 20rem;
  top: 3rem;
  position: absolute;
  background: radial-gradient(rgba(236, 209, 174, 0.7), rgba(255, 176, 74, 0.5));
  border-radius: 50%;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.top .right .bcg::before {
  content: "";
  width: 10rem;
  height: 10rem;
  top: 10rem;
  left: -3rem;
  position: absolute;
  background: radial-gradient(rgba(218, 165, 151, 0.7), rgba(241, 99, 33, 0.5));
  border-radius: 50%;
}

.top .right img {
  width: 60%;
  height: 100%;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
}

.slideshow {
  margin: 3rem 0;
  width: 100%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.slideshow .logo {
  width: 14.3%;
  -webkit-filter: brightness(0.1);
          filter: brightness(0.1);
}

.slideshow .logo img {
  width: 80%;
}

.slideshow .logo:nth-child(1), .slideshow .logo:nth-child(7) {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.slideshow .logo:nth-child(4) {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.slideshow .fade-out {
  opacity: 0;
  width: 0;
}

.slideshow .light {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/*# sourceMappingURL=style.css.map */